<div class="text-left">
    <div class="d-flex justify-content-between bd-highlight mb-3">
        <h1 class="display-8 p-2 bd-highlight">Лучше звоните солу</h1>
    </div>
    <div>
        <div>
            <img style="width: 20rem;" src="~/images/posters/сол.jpg" alt="" />
        </div>
        <div>
            <p>Возрастной рейтинг: 18</p>
            <p>Страна: США</p>
        </div>
    </div>
</div>
